#SUBSYSTEM=="input", SUBSYSTEMS=="usb", ACTION=="add", ATTRS{bInterfaceProtocol}=="01", RUN+="/sbin/enable_fbcon.sh" 
#SUBSYSTEM=="input", SUBSYSTEMS=="usb", ACTION=="remove", RUN+="/sbin/disable_fbcon.sh"
#SUBSYSTEM=="input", SUBSYSTEMS=="usb", ACTION=="add|remove", RUN+="/sbin/enable_fbcon.sh $env{ACTION}"
#SUBSYSTEM=="input", SUBSYSTEMS=="usb", ACTION=="add|remove", ATTR{name}=="*Keyboard*", RUN+="/sbin/enable_fbcon.sh $env{ACTION}"
#SUBSYSTEM=="input", SUBSYSTEMS=="usb", ACTION=="add|remove", ATTRS{bInterfaceProtocol}=="01", RUN+="/sbin/enable_fbcon.sh $env{ACTION}"
#SUBSYSTEM=="input", SUBSYSTEMS=="usb", ACTION=="add|remove", ATTRS{idVendor}=="03f0", ATTRS{idProduct}=="0024", RUN+="/sbin/enable_fbcon.sh $env{ACTION}"
SUBSYSTEM=="input", SUBSYSTEMS=="usb", ACTION=="add|remove", RUN+="/sbin/fbcon_act_on_device_change.py $env{ACTION}"