/*
 * Copyright (C) 2020 - Ultimaker B.V.
 * Copyright (C) 2020 - Raymond Siudak <raysiudak@gmail.com>
*/

/dts-v1/;

#include "congatec/imx8mm-cgtsx8m.dts"
#include "ulticontroller4.0.dtsi"

/* See Documentation/devicetree/bindings/video/display-timing.txt */
/* HX8282-A11 1024x600@60Hz */
&i2c4 {
    /* DSI-LVDS bridge */
    lvdsbridge: sn65dsi84@2c {
        /delete-property/ lvds,use-uboot-settings; // will get replaced by dp props
        status = "okay";

        i2c-edid = <&edid_eeprom>; // This will load the configuration from the EEPROM.

        /*
           LVDS 1024x600@60Hz pixclock 51.2MHz
           These settings will be ignored because 'i2c-edid' is defined, leaving them in for documentation
        */
        lvds,pixelclock = <51206400>;
        lvds,hactive = <1024>;
        lvds,vactive = <600>;
        lvds,hfront_porch = <160>;
        lvds,hback_porch = <160>;
        lvds,hsync_len = <10>; // Must be more then 1, number does not matter
        lvds,vfront_porch = <12>;
        lvds,vback_porch = <23>;
        lvds,vsync_len = <10>; // Must be more then 1, number does not matter
        lvds,color_depth = "rgb24";
        lvds,hsync_pol = <0>;
        lvds,vsync_pol = <0>;
        lvds,datamap = "spwg";
    };
};

/* Remove pins used in Ultiboard 5 from generic GPIOs pinctrl settings of imx8mm. */
&pinctrl_gpio1 {
    fsl,pins = <
        MX8MM_IOMUXC_GPIO1_IO07_GPIO1_IO7       0x140 /* GPIO0 / CSI0 PWR */
        MX8MM_IOMUXC_GPIO1_IO15_GPIO1_IO15      0x140 /* TEST# */
    >;
};

&pinctrl_gpio4 {
	fsl,pins = <
        MX8MM_IOMUXC_SAI3_RXC_GPIO4_IO29        0x140 /* GPIO4*/
        MX8MM_IOMUXC_SAI1_RXC_GPIO4_IO1         0x100 /* GPIO7 / RESET_HUB*/
        MX8MM_IOMUXC_SAI3_RXFS_GPIO4_IO28       0x080 /* GPIO6 / IMXRT BootMode Enable*/       
        MX8MM_IOMUXC_SAI1_TXC_GPIO4_IO11        0x140 /* GPIO9 */
        MX8MM_IOMUXC_SAI1_TXFS_GPIO4_IO10       0x100 /* GPIO10 / U12 WRITE PROTECT */
        MX8MM_IOMUXC_SAI1_MCLK_GPIO4_IO20       0x140 /* GPIO11 */
        MX8MM_IOMUXC_SAI1_TXD3_GPIO4_IO15       0x140 /* PM_CHARGING# */
        MX8MM_IOMUXC_SAI1_TXD2_GPIO4_IO14       0x140 /* PM_CHARGER_PRSNT# */
        MX8MM_IOMUXC_SAI1_TXD4_GPIO4_IO16       0x140 /* BOOT_SEL0# */
        MX8MM_IOMUXC_SAI1_TXD5_GPIO4_IO17       0x140 /* BOOT_SEL1# */
        MX8MM_IOMUXC_SAI1_TXD6_GPIO4_IO18       0x140 /* BOOT_SEL2# */
        MX8MM_IOMUXC_SAI1_RXD5_GPIO4_IO7        0x080 /* SAI1_RXD5 -> RESET_OUT# / IMXRT nReset */
	>;
};

&pinctrl_gpio5 {
    fsl,pins = <
        MX8MM_IOMUXC_SPDIF_RX_GPIO5_IO4         0x140 /* GPIO5 / PWMOUT */
        MX8MM_IOMUXC_UART3_TXD_GPIO5_IO27       0x140 
    >;
};

/* Add GPIOs pinctrl for Ultboard 5. */

/* GPIO PAD setting */
/* 0x1C0 -- pull-up,   HYST, no-OD, slow, X1 */
/* 0x140 -- pull-up,   CMOS, no-OD, slow, X1 */
/* 0x100 -- pull-down, CMOS, no-OD, slow, X1 */
/* 0x080 -- pull-off,  HYST, no-OD, slow, X1 */
/* 0x000 -- pull-off,  CMOS, no-OD, slow, X1 */

&iomuxc {
    Ultiboard50 {
        pinctrl_leds_1: ledsgrp-1 {
            fsl,pins = <
                MX8MM_IOMUXC_SPDIF_TX_GPIO5_IO3         0x100 /* GPIO1 / CSI1 PWR */
                MX8MM_IOMUXC_SPDIF_EXT_CLK_GPIO5_IO5    0x100 /* GPIO3 / CSI1 RST */
                MX8MM_IOMUXC_GPIO1_IO06_GPIO1_IO6       0x100 /* GPIO2 / CSI0 RST */
            >;
        };
        
        pinctrl_i2c3_tca6416: i2c3_tca6416 {
            fsl,pins = <
                MX8MM_IOMUXC_SAI1_RXFS_GPIO4_IO0        0x080 /* GPIO8 / U35 - TCA6416 INT */  
            >;
        };
    };
};

&i2c2 {
    /* Carrier data EEPROM (U12) */
    carrierdata@57 {
        compatible = "atmel,24c32";
        reg = <0x57>;
        pagesize = <32>;
    };
};

&i2c3 {
    tca6416@20 {
        compatible = "ti,tca6416";
        reg = <0x20>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_i2c3_tca6416>;
        gpio-controller;
        #gpio-cells = <2>;
        gpio-line-names = "VCC5_EXT_EN", "VCC5_EXT_OK", "VCC5_BUS_EN", "VCC5_BUS_OK", 
                          "HDMI_PWR_EN", "HDMI_PWR_OK", "VCC5_PH_EN", "VCC5_PH_OK", 
                          "VCC24_HP_PG", "VCC24_HP_nEN_SOM", "LVDS_PWR_EN", "LVDS_PWR_OK", 
                          "P1_4", "NFC_ID", "P1_6", "P1_7";
    };
};

/* Set pin names for IMXRT control lines */
&gpio4 {
    gpio-line-names = "", "", "", "", "", "", "", "IMXRT_nReset", 
                      "", "", "", "", "", "", "", "", 
                      "", "", "", "", "", "", "", "", 
                      "", "", "", "", "IMXRT_BootMode_En", "", "", "";
};

/* Set pin names for IMXRT control lines */
&gpio5 {
    gpio-line-names = "", "", "", "", "", "", "", "", 
                      "", "", "", "", "", "", "", "", 
                      "", "", "", "", "", "", "", "", 
                      "", "", "", "OnOff_Button", "", "", "", "";
};

/* Ultimainboard J8 debug console. We cannot use DMA, it uses proprietary firmware drivers.  */
&uart4 { /* SER1 */
    /delete-property/ dmas;
    /delete-property/ dma-names;
};

/ {
    leds {
        compatible = "gpio-leds";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_leds_1>;

        led0 {
            label = "som:red:carrier-led0";
            gpios = <&gpio5 5 GPIO_ACTIVE_HIGH>;
            linux,default-trigger = "heartbeat";
            default-state = "keep";
        };

        led1 {
            label = "som:red:carrier-led1";
            gpios = <&gpio5 3 GPIO_ACTIVE_HIGH>;
            linux,default-trigger = "none";
            default-state = "keep";
        };

        led2 {
            label = "som:red:carrier-sd-led";
            gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
            linux,default-trigger = "mmc1";
            default-state = "keep";
		};
	};

	gpio-keys {
	   status = "disabled";
	};
};

