/dts-v1/;

#include "congatec/imx8mm-cgtsx8m.dts"
#include "ulticontroller4.0.dtsi"

/ {
	chosen {
		bootargs = "console=ttymxc2,115200 earlycon=ec_imx6q,0x30880000,115200";
		stdout-path = &uart3;
	};
};

&uart3 { /* SER0 Remove DMA rtscts*/
    /delete-property/ fsl,uart-has-rtscts;
	status = "okay";
};