
/dts-v1/;
#define IMX6DL_ULTIMAKER 1
#include "msc-sm2-imx6dl.dtsi"
#include "next-ultimainboard3.1.dtsi"
#include "part201258-ulticontroller3.dtsi"
#include "part1994-ulticontroller.dtsi"

/ {
	model = "Freescale imx6dl on MSC SOM on MSC board - alla Ultimaker";
	compatible = "fsl,imx6dl-MSC-um", "fsl,imx6dl";

    /* beeper stuff below not checked properly yet! */
      beeper {
	  pwm-names = "opinicus-board-beeper";
	  compatible = "pwm-beeper";
	  pwms = <&pwm3 1 500000 0>;
	  status = "okay";
      };

	//aliases {
	//	spi_1 = &ecspi1;
	//};

};

&hdmi {
	ddc-i2c-bus = <&i2c2>;
	status = "okay";
};
