/*
 * Copyright 2017 - Ultimaker B.V.
 * Author Olliver Schinagl <o.schinagl@ultimaker.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

#include "sun7i-a20-olinuxino-lime2-emmc.dts"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pinctrl/sun4i-a10.h>
#include <dt-bindings/pwm/pwm.h>

/ {
	model = "Ultimaker NeXT Lime2 proto";
	compatible = "ultimaker,lime2-next", "olimex,a20-olinuxino-lime2", "allwinner,sun7i-a20";

	beeper {
		pwm-names = "opinicus-board-beeper";
		compatible = "pwm-beeper";
		pwms = <&pwm 1 500000 0>;
		status = "okay";
	};

	leds {
		green {
			linux,default-trigger = "mmc0";
		};

		d1 {
			label = "opinicus:orange:d1";
			gpios = <&pio 7 20 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		d2 {
			label = "opinicus:orange:d2";
			gpios = <&pio 7 21 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	rotary {
		pinctrl-names = "default";
		pinctrl-0 = <&rotary_pins_opinicus>;
		compatible = "rotary-encoder";
		gpios = <&pio 7 0 GPIO_ACTIVE_LOW>, <&pio 7 7 GPIO_ACTIVE_LOW>; /* todo; named gpios!! */
		linux,axis = <8>; /* REL_Z: TODO add to dt-include and possible add 'LEFT' axis */
		rotary-encoder,relative-axis;
		rotary-encoder,steps-per-period = <4>;
		status = "okay";
	};
};

&codec {
	status = "okay";
};

&de {
	status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmi_i2c {
	clock-frequency = <400000>;

	panel_touchscreen: ft5426@38 {
		compatible = "edt,edt-ft5426";
		reg = <0x38>;
		poll-interval = <50>;
		reset-gpios = <&panel_gpio 0 GPIO_ACTIVE_LOW>;

		touchscreen-min-size-x = <0>;
		touchscreen-max-size-x = <800>;
		touchscreen-min-size-y = <0>;
		touchscreen-max-size-y = <320>;
	};

	panel_gpio: pca9570@24 {
		compatible = "nxp,pca9570";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x24>;
	};

	panel_lights: pca9632@60 {
		compatible = "nxp,pca9632";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x60>;
		nxp,totem-pole;
		nxp,hw-blink;

		red@0 {
			label = "red:panel_indicator";
			reg = <0>;
			linux,default-trigger = "none";
		};

		green@1 {
			label = "green:panel_indicator";
			reg = <1>;
			linux,default-trigger = "none";
		};

		blue@2 {
			label = "blue:panel_indicator";
			reg = <2>;
			linux,default-trigger = "none";
		};

		panel_backlight: backlight@3 {
			label = "white:panel_backlight";
			reg = <3>;
			linux,default-trigger = "default-on";
		};
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins_a>;
	clock-frequency = <400000>;
	status = "okay";
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins_a>;
	clock-frequency = <50000>;
	status = "okay";
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins_a>;
	clock-frequency = <400000>;
	status = "okay";

	ssd1309@3c {
		compatible = "solomon,ssd1309fb-i2c";
		pinctrl-names = "default";
		pinctrl-0 = <&oled_pins_opinicus>;
		reg = <0x3c>;
		reset-gpios = <&pio 8 4 GPIO_ACTIVE_HIGH>;
		solomon,width = <128>;
		solomon,height = <64>;
		solomon,com-invdir;
		solomon,page-offset = <0>;
		solomon,prechargep1 = <2>;
		solomon,prechargep2 = <8>;
	};

	button_ring@60 {
		compatible = "nxp,pca9632";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x60>;
		nxp,totem-pole;
		nxp,inverted-out;
		nxp,hw-blink;

		red@0 {
			label = "red:button_ring";
			reg = <0>;
			linux,default-trigger = "none";
		};

		green@1 {
			label = "green:button_ring";
			reg = <1>;
			linux,default-trigger = "default-on";
		};

		blue@2 {
			label = "blue:button_ring";
			reg = <2>;
			linux,default-trigger = "default-on";
		};

		unused@3 {
			label = "unused";
			reg = <3>;
			linux,default-trigger = "none";
		};
	};
};

&lradc {
	status = "okay";

	button {
		label = "Encoder click";
		linux,code = <KEY_ENTER>;
		channel = <0>;
		voltage = <0>;
	};
};

&pio {
	spi2_cs_pins: cs_pins {
		pins = "PC24";
		function = "gpio_out";
		bias-pull-up;
	};

	led_pins_opinicus: led_pins {
		pins = "PH20", "PH21";
		function = "gpio_out";
		drive-strength = <20>;
		bias-disabled;
	};

	oled_pins_opinicus: oled_pins {
		pins = "PI4";
		function = "gpio_out";
		bias-pull-down;
	};

	rotary_pins_opinicus: rotary_pins {
		pins = "PH0", "PH7";
		function = "gpio_in";
		bias-pull-up;
	};
};

&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm1_pins_a>;
	status = "okay";
};

&reg_ldo4 {
	regulator-always-on;
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vddio-pg";
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins_a>;
	status = "okay";
};

&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi2_pins_a>, <&spi2_cs_pins>;
	cs-gpios = <&pio 2 24 GPIO_ACTIVE_HIGH>;
	status = "okay";

	spidev@0 {
		compatible = "linux,spidev";
		spi-max-frequency = <50000000>;
		reg = <0>;
	};
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins_a>;
	cts-override;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins_a>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pins_a>;
	status = "okay";
};

&usb_otg {
	dr_mode = "host";
};

&usbphy {
	/* Unset otg detect pins as we force dr_mode */
	/delete-property/ usb0_id_det-gpio;
	/delete-property/ usb0_vbus_det-gpio;
};
