/*
 * Copyright (C) 2020 - Ultimaker B.V.
 * Copyright (C) 2020 - Raymond Siudak <raysiudak@gmail.com>
*/


&i2c2 {
    clock-frequency = <100000>;
    panel_touchscreen: ft5426@38 {
        compatible = "edt,edt-ft5426";
        reg = <0x38>;
        poll-interval = <10>;
        reset-gpios = <&panel_gpio 0 GPIO_ACTIVE_LOW>;
        touchscreen-min-size-x = <0>;
        touchscreen-max-size-x = <800>;
        touchscreen-min-size-y = <0>;
        touchscreen-max-size-y = <320>;
    };

    panel_gpio: pca9536@41 {
        compatible = "nxp,pca9536";
        gpio-controller;
        #gpio-cells = <2>;
        reg = <0x41>;
        gpio-line-names = "BUZZER_EN", "DOOR", "DISP_RST", "TOUCH_RST";
    };

    panel_lights: pca9632@60 {
        compatible = "nxp,pca9632";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0x60>;
        nxp,totem-pole;
        nxp,hw-blink;
        red@0 {
            label = "red:panel_indicator";
            reg = <0>;
            linux,default-trigger = "none";
        };
        green@1 {
            label = "green:panel_indicator";
            reg = <1>;
            linux,default-trigger = "none";
        };
        blue@2 {
            label = "blue:panel_indicator";
            reg = <2>;
            linux,default-trigger = "none";
        };
        panel_backlight: backlight@3 {
            label = "white:panel_backlight";
            reg = <3>;
            linux,default-trigger = "default-on";
        };
    };

    edid_eeprom: 24c02@50 { /* 24LC02B 2K Microchip EEPROM */
        compatible = "microchip,24c02", "at24";
        reg = <0x50>;
    };
};

